body {
    margin: 0;
}

header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

img#logo {
    width: 8rem;
    padding: 0.5rem;
}

.menu-principal {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    color: black;
    font-weight: 500;
}
.main {
    background-color: #b4c2dd;;
    color: white;
}
.banner { background-image: url(../images/banner.jpg);
            background-repeat: no-repeat;
            width: 100%;
            height: 29vw;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            align-items: center;
}
.banner-tittle {
    margin-right: 2rem;
    text-align: right;
    text-transform: uppercase;
    font-size: 2.6rem;
    width: 25vw;
}
section.Obras {
    padding: 2rem 0;
}
.sections {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 2rem;
    align-items: center;
    gap: 4rem;
}
li.section-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50%;
    background-color: orange;
    width: 5rem;
    height: 5rem;
}
a.text-anchor {
    font-size: 0.60rem;
    padding: 1.9rem 0.75rem;
    margin: 0;
    text-transform: uppercase;
}
table {
    width: 50%;
    margin: 0 auto;
    font-size: 0.9rem;
    padding: 0 0 1rem 0;
}
.Premios-title {
    text-align: center;
    margin: 2rem 0 3rem 0;
    font-size: 2.8rem;
}
span.date {
    border: 2px solid blue;
    background: orange;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
}
td {
    padding-left: 4rem;
}
.primer-premio {
    height: 6rem;
}
section.premios {
    color: black;
}
footer {
    background-color: black;
    color: white;
}
p.copyright {
    margin: 0;
    padding: 17px;
    text-align: center;
}
